<div class="rules-container">
    <h1 class="title">Game Rules</h1>
    <ul class="rules-list">
      <li>The game consists of linking pictures to find a movie name out of it. There are 10 such questions framed.</li>
      <li>Link the three pictures given for each question and find the name of the Indian movie.</li>
      <li>Enter the original spelling of the movie correctly. Incorrect spellings will make the answer incorrect.</li>
      <li>You will be rewarded one point for each correct answer, and the leaderboard will be updated accordingly.</li>
      <li>You can try as many times as you want if the answer is incorrect; there are no limitations.</li>
      <li>After successful registration, you can log in anytime and answer the questions within the given time limit. There are no restrictions to attempt all questions at once.</li>
      <li>The top point scorer will be claimed as the winner. In case of a tie, all those who secured the top score will be awarded as winners.</li>
      <li>Make sure to enjoy the game and give your best!</li>
    </ul>
  </div>
  